@media screen and (min-device-width: 768px) {
  .left-nav{
    //display: flex;
    //flex-direction: column;
    display: inline-block;
    width: 188px;
    padding-top: 80px;
    transition: padding-top .3s;
    text-align: center;
    float: left;
    > a{
      display: block;
      height: 40px;
      color: #444;
      line-height: 40px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      font-weight: 400;
    }
    >a:hover{
      color:  #409eff;;
    }
  }
}

@media screen and(max-device-width: 768px) {
  .left-nav{
    position: fixed;
    display: flex;
    top: 60px;
    left: 0px;
    flex-direction: column;
    width: 200px;
    padding:16px;
    z-index: 10;
    bottom: 0;
    background: #ffffff;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
    margin-left: -200px;
    transition: all .2s ease;
    > a{
      display: block;
      height: 40px;
      color: #444;
      line-height: 40px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      font-weight: 400;
    }
    >a:hover{
      color:  #409eff;;
    }
  }
}
