$color: #007974;

@media screen and(min-device-width: 768px) {
  .topnav {
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 80px;
    z-index: 1;
    position: relative;

    > .link-wrap {
      display: flex;
      justify-content: space-between;

      > a {
        padding-right: 32px;
      }
    }

    > .logo {
      > svg {
        width: 32px;
        height: 32px;
      }
    }

    > .menu {
      display: flex;
      white-space: nowrap;
      flex-wrap: nowrap;

      > li {
        margin: 0 1em;
      }
    }

    > .toggleAside {
      width: 32px;
      height: 32px;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      background: fade-out(black, 0.9);
    }
  }

}

@media screen and(max-device-width: 768px) {
  .topnav{
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    line-height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    text-align: left;
    z-index: 1;
    position: relative;
    > .link-wrap{
      flex: 1;
      display: flex;
      justify-content: space-between;
      > a {
        width: 100%;
        text-align: center;
      }
    }
    > .menu {
      display: none;
    }
    > .logo {
      margin: 0 auto;
    }
    > .toggleAside {
      display: inline-block;
    }
  }
}