
@media screen and (max-device-width: 768px) {
  .container-warp{
    width:100%;
  }
  .layout-warp{
    display: flex;
  }
}

@media screen and (min-device-width: 768px ) {

  .container-warp{
    width: 1140px;
    margin: 0 auto;
  }
  .layout-warp{
    margin-top: 80px;
    display: flex;
  }

}
